body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 2px;
    font-family: Arial, sans-serif;
    font-size: 19px;
    background-color: #f5f5f5;
    color: dodgerblue
  }
  h1 {
    color: orangered;
    font-size: 45px;
}
#b1, #b2, #b3, #b4, #b5, 
    #b6, #b7, #b8, #b9 {
        width: 80px;
        height: 52px;
        margin: auto;
        border: 1px solid gray;
        border-radius: 6px;
        font-size: 30px;
        text-align: center;
    }
        #reset-button {
            box-sizing: border-box;
        width: 95px;
        height: 40px;
        border: 1px solid dodgerblue;
        margin: auto;
        border-radius: 4px;
            margin-left: 100px;
            margin-right: 32%;
            text-align: center; /* Ensures button content stays centered */
            background-color:dodgerblue;
            font-size: 20px;
            color: #f5f5f5;
          }
    }
    